*{
    margin: 0%;
    padding: 0%;
    
    
}
.head{
    background-color: black;
    height: 40px;
    border-top-left-radius: 10px;
    padding: 0%;
    font-family: "calibri";
}
.nav-para{
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
}
.logo{
    height: 100px;
    width: 100px;
    margin-left: 125px;
    display: inline-block;
    display:inline;
    cursor: pointer;

}


    
nav{
    margin-top: 35px;
    margin-left: 25px ;
    margin-bottom: 35px;

   
}


.btn{
    background-color:blue ;
    border-radius:5px ;
    height: 40px;
    width:150px;
    color: white;
    border-width: 0%;
    margin-left: 50px;
    cursor: pointer;
    border-color:aliceblue;
    
}
.btn1{
    background-color:orangered ;
    width:125px;

}

.dropbtn{
    border: none;
    background-color: white;
    outline: none;
    background-color:inherit ;
    padding-left: 15px;
    font-weight:bold ;
}
.dropbtn:hover{
    color: orangered;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    font-family: "Calibri";
   
    cursor: pointer;

}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    

    
}

.dropdown:hover .dropdown-content {
    display: block;

}
.dropdown-content a:hover{
    color:rgba(16, 147, 223, 0.778);
}
@media

.bg-image{
     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoeXqPe6-Azbok_XfscAU4Gn1w-Z_Jy0YJmio1DbjP0iogDKeBGg7FVJbPiBPFssPmrRo&usqp=CAU");
    background-size:cover;
    height: 40vh;
    
    margin-top: 20px;
    opacity: 80%;
    background-repeat: no-repeat;
    
    
    
   
}
.h{
    text-align: center;
    background: transparent;
    color: rgb(18, 17, 17);
    font-weight: bolder;
    padding-top: 100px;
   
}
.h4{
    text-align: center;

}

   
    

.bg-container 
{
position: relative;
margin-bottom: 30px;
transition: .6s;
box-shadow: 1px 0px 20px rgba(132, 52, 52, 0.153);
overflow: hidden;
border-radius: 4px;
margin-top:20px;
width: 280px;
height: 400px;
margin: 15px;
margin-right: 20px;
}

.card-ele {
    opacity:50%;
    margin-top: 20px;
    
}
.title-card {
padding: 18px;
font-family: "Roboto";
font-weight: bold;
}
.card-table{
margin: 100px;
margin-right: 10px;
}
.img-cont{
    height: 200px;
}
.btn-card{
    color: black;
    background-color: darkorange;
    border: none;
    margin-top:5px ;
}
hr{
    height:1px ;
    background-color: black;
    opacity: 25%;
    padding: 0;
    margin: 0;
}
.rup{
    margin-top: 15px;
    color: rgb(227, 45, 25);
    margin-bottom: 10px;
}
.fifth{
   height:420px;
}
.para-cont{
    font-family: "Calibri";
    font-weight: bold;
    font-size: 20px;
 
}
.txt-cont{
    padding-left: 100px;
    padding-right: 100px;
    
   

}
.list-cont{
    list-style-type:none;
}
.content-para{
    margin-top:20px ;
    font-size: 18px;
    font-family: "Roboto";
    opacity: 50%;
    
    line-height: 1.8;
}
.content-qn{
    margin-top:30px ;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: bold;
    line-height: 1.5;
}
.content-ans{
   margin-top: 10px;
    font-size: 18px;
    font-family: "Roboto";
    opacity: 50%;
    line-height: 1.5;
    

}
.second-cont-top{
    background-color: orange;
    border-radius: 10px;
    
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    
}
.second-cont-top-head{
    font-family: "Roboto";
    font-size:40px ;
    
}

.second-cont-top-head1{
     margin-top: 10px;
     font-size: 18px;
     font-family: "Roboto";
     line-height: 1.5;
} 
.second-cont-top-para{
    padding: 30px;
    
    

}
.get{
    
    background-color:rgb(6, 6, 6) ;
    border-radius:5px ;
    height: 40px;
    width:150px;
    color: white;
    border-width: 0%;
    margin-left: 50px;
    cursor: pointer;
    
    
    
}

.last-tab{
   padding:50px ;
    
    font-family:"Roboto" ;
}
.last-tab1{
    margin: 30px;
    cursor: pointer;
    margin-right: 50px;
}
.last-list{
    list-style-type:none;
    font-family: "Roboto";
    margin-top:10px ;
    line-height: 1.8;
    font-size: 20px;
    text-align: left;
    
    
}
.last-head{
     
}


 li:hover
 {
    color: orangered;
 } 
 .ser{
    margin-top: -2px;
 }
 .ear{
    margin-top: -180px;
    margin-right: -100px ;
 }